

.most-popular-item {
    flex: 1 25%;
    max-width: 250px;
}
@media (max-width: 768px) {
    .most-popular-item {
        min-width:195px;
    }
}
.card-wrapper{
    background-color: var(--color-dark);
    border-radius: calc( var(--border-radius-primary) / 2);
    padding: calc(var(--padding-primary) /4);
    margin: calc(var(--margin-primary) / 5);
    

}

.most-popular-item-image {
    background-color: var(--color-darkest);   
    border-radius: calc( var(--border-radius-primary) / 4);
    margin-bottom: calc(var(--margin-primary) / 2);
    min-height: 160px;  
}
.most-popular-item-title {
    font-size: 14px;
    line-height: 1.5rem;
    
}
.most-popular-item-content svg {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

  